a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: saddlebrown;
}
article span{
    font-size: 15px;
}

/*Navigation*/
#nav{
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    min-width: 2000px;
    left: 47%;
    padding: 0;
    transition: all 1s ease;
    margin: 0;
}

#nav li{
    display: inline-block;
    padding-right:  200px;
    width: 100px;
    text-align: center;
}

nav span{
    z-index: 10;
    position: fixed;
    background-color: saddlebrown;
    box-shadow: 2px 2px;
    text-align: center;
    top:5px;
    left:5px;
    font-size: 12px;
    color: black;
    padding: 2px;
}

#nav li a{
    color: black;
    text-decoration: none;
}

#selected a{
    text-decoration: underline;
}

nav {
    z-index: 2;
    position: fixed;
    background-color: saddlebrown;
    width:100%;
    top: 0;
    left: 0;
}



/*main bodies*/
#content{
    top: 400px;
    position:relative;
    font-family: monospace;
    text-align: left;
    margin: auto;
    width:70%;
    font-size: 20px;
}

#content h1{
    font-size: 50px;
    padding: 5px;
    text-align: center;
}

.spacer{
    height:100px;
}


body{
    margin: 0;
    background-color: #996633;
}

hr{
    border-color: black;
}

/*parallax*/


#imgbox{
    position: relative;
    height: 900px;
    background-image: url("./edited/sun.png");
    background-position: top center;
    background-size: auto 900px;
    background-attachment: fixed;
    margin-top: -50px;
}

#pRoot{
    height: 1100px;
    width: 100%;
    background-image: url("./edited/rooots.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top:40%;
}
#tran{
    height: 1100px;
    width: 100%;
    background-color: #996633;
    position: absolute;
    top:80%;
}

#pTemple{
    height: 900px;
    width: 100%;
    background-image: url("./edited/temple.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top:30%;

}
#pHill{
    height: 900px;
    width: 100%;
    background-image: url("./edited/hills.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top:20%;
}

#pForest{
    height: 900px;
    width: 100%;
    background-image: url("./edited/forest.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top:0%;
}

#logo{
    height: 200px;
    width: 100%;
    background-image: url("./edited/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 300px;
    position: absolute;
    top:10%;
    right: 30%;
}


/* Chapters */



/* Chapter 1 */
#img1{
    background-image: url("./edited/img1.png");
    background-size: auto 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 500px;
    width: 100%;
}


/* Chapter 2*/
#img2{
    background-image: url("./edited/grouppic.png");
    background-size: auto 100%;
    background-position: center 200px ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: 500px;
    width: 100%;
}

#put{
    position:relative;
    height: 400px;
    width: 100%;
}
#Sam{
    position: absolute;
    top: 40px;
    left: 45%;
}
#Chloe{
    position: absolute;
    top: 150px;
    left: 0%;
}
#Azim{
    position: absolute;
    top: 120px;
    left: 25%;
}
#Teara{
    position: absolute;
    top: 150px;
    left: 86%;
}
#Dana{
    position: absolute;
    top: 200px;
    left: 72%;
}


/*Displays*/
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 40%;
}
.close{
    position:absolute;
    top: 5px;
    right: 5px;
    padding:5px 5px;
}

/*Graph Displays*/
.graphContainer{
    position: fixed;
    text-align: center;
    background-color: white;
    display: none;
    top: 20%;
    left: 35%;
    border-radius: 20px;
    z-index: 20;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
}

/*Image Displays*/
.imgContainer{
    position: fixed;
    text-align: center;
    width: 60%;
    height: 70%;
    background-color: white;
    display: none;
    top: 20%;
    left: 20%;
    border-radius: 20px;
    z-index: 20;
    box-shadow: 10px 10px rgba(0,0,0,0.5);
    overflow: hidden;
}

.left{
    position: inherit;
    margin: auto;
    top: 51%;
    left: 16%;
}
.right{
    position: inherit;
    margin: auto;
    top: 51%;
    right: 16%;
}
.unselected{
    display:none;
    width: 100%;
    height: 100%;
}
#selected{
    display:block;
}


